<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="nodebot1">

    <!-- BASE LINK -->
    <link name="base_link">
        <origin xyz="0 0 0"/>
    </link>

    <!-- CHASSIS -->
    <xacro:include filename="chassis.xacro" />

    <!-- Controls for Simulation with Gazebo -->
    <xacro:include filename="gazebo_control.xacro" />

</robot>